
@{
    ViewBag.Title = "Index";
}

<h2>Make a Deposit</h2>

@using (Html.BeginForm("Index", "Deposit", FormMethod.Get))
{
    <p class="form-group">
        @* drop down for all accounts that particular user has *@
        @*Account to Deposit: @Html.DropDownList(SelectedAccount, SelectList.ViewBag.allAccountsList, new { @class = "form-control" })*@
        Deposit Amount: @Html.TextBox("SearchString", null, new { @class = "form-control" })<br />

    </p>
}
