@using Longhorn_Bank.Models

@model AppUser

@{
    ViewBag.Title = "Index";
}

<br />
<h2>My Deposits</h2>

<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#checkings">My Checkings</a>
    </li>
    <li>
        <a data-toggle="tab" href="#savings">My Savings</a>
    </li>
    <li>
        <a data-toggle="tab" href="#ira">My IRA</a>
    </li>
    <li>
        <a data-toggle="tab" href="#stockportfolio">My Stock Portfolio</a>
    </li>
</ul>



<div class="tab-content">
    <div id="checkings" class="tab-pane fade in active">
        @using (Html.BeginForm("Index", "Deposit", FormMethod.Get))
        {
            <p class="form-group">
                @*@Html.DropDownList("SelectedCheckingsDepositAccount", (SelectList)ViewBag.AllCheckingsDepositAccounts, new { @class = "form-control" })*@
                <br />
                Deposit Amount: @Html.TextBox("SearchString", null, new { @class = "form-control" })<br />
            </p>
        }
    </div>
    <div id="savings" class="tab-pane fade">
        @using (Html.BeginForm("Index", "Deposit", FormMethod.Get))
        {
            <p class="form-group">
                @* drop down for all accounts that particular user has *@

                Deposit Amount: @Html.TextBox("SearchString", null, new { @class = "form-control" })<br />
            </p>
        }
    </div>
    <div id="ira" class="tab-pane fade">
        @using (Html.BeginForm("Index", "Deposit", FormMethod.Get))
        {
            <p class="form-group">
                @* drop down for all accounts that particular user has *@

                Deposit Amount: @Html.TextBox("SearchString", null, new { @class = "form-control" })<br />
            </p>
        }
    </div>
    <div id="stockportfolio" class="tab-pane fade">
        @using (Html.BeginForm("Index", "Deposit", FormMethod.Get))
        {
            <p class="form-group">
                @* drop down for all accounts that particular user has *@

                Deposit Amount: @Html.TextBox("SearchString", null, new { @class = "form-control" })<br />
            </p>
        }
    </div>
</div>
